.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xs);
  padding: var(--space-sm);
  background: var(--shade-1);
  border: 2px solid var(--shade-3);
  cursor: pointer;
}

.card:hover {
  background: var(--shade-1);
}

.cardSelected {
  border-color: var(--shade-2);
  box-shadow: 3px 3px 0 var(--shade-2);
}

.cardIcon {
  width: var(--icon-size);
  height: var(--icon-size);
}

.cardLabel {
  font-size: var(--font-size-xs);
  text-align: center;
}
