---
import "src/styles/global.css";
import { ElementsShowcase } from "src/elements-showcase";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Elements Showcase</title>
	</head>
	<body>
		<ElementsShowcase client:load />
	</body>
</html>
